html, body {
    /*
     * Background pattern from Toptal Subtle Patterns 
     * https://www.toptal.com/designers/subtlepatterns/sakura/
     */
    background-image: url(/assets/img/fondo.png);
}
#error1,#error2{
    color: crimson;
    font-size:18px ;
}
#legend{
    font-size: 38px;
}
.is-rounde{
width:100%;
height:100px;
border:1pxs
}
.tag{
    font-size:16px ;
}